<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <button pButton 
        label="Cambiar nombre" 
        icon="pi pi-check" 
        class="p-button-help"
        iconPos="right">
</button>

<p-card class="card" 
        [header]="nombre | titlecase" 
        subheader="Subheader">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vero sapiente eos cupiditate nisi repellat adipisci veniam beatae quia, laudantium minus consequuntur quae debitis illo tempora necessitatibus eius in? Ratione?
</p-card> -->